
.d-main{
    display: flex;
    flex-direction: row;
}

.d-space{
    justify-content: space-between;
}

.d-docContainer{
    width: 75%;
    height: auto;
    background-color: white;
}

.d-back {
    width: auto;
    height: auto;
}

.d-center{
    display: flex;
    justify-content: center;
}

.d-para{
    font-family: 'Poppins';
    color: #707181;
}

.d-sidebar{
    background-color: #E5E5E5;
}

.d-topbar{
    width: auto;
    height: 5vh;
    display: flex;
    flex-direction: row;
}

.d-title{
    font-family: 'Poppins';
    width: auto;
    height: 10vh;
    display: flex;
    flex-direction: row;
    padding: 2vh;
    justify-content:space-around;
}

.d-audio{
    width: 40vh;
    height: 25vh;
    background-color: white;
    border-radius: 20px;
    margin: 5vh;
    justify-content: center;
    padding: 3vh;
    font-family: 'Poppins';
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url(../../res/fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}