:root {
    --primary-color: #4856fd;
    --secondary-color: #EDEEFF;
    --background-color: #E5E5E5;
    --main-color: rgb(255, 255, 255);
    --shadow-color: rgba(185, 185, 185, 0.815);

}

.mf-homeContainer{
    display: table-row;
    position: absolute;
    width: 100%;
    left: 0;
}


.mf-container{
    padding: 0;
    margin: 0;
    height: 100%;
    padding-left: 18vh;
    padding-top: 3vh;
}

.mf-logo{
    width: 20vh;
    height: auto;
}

.mf-sideBar{
    padding-left: 5vh;
    padding-right: 10vh;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
}

.mf-down{
    margin-top: 6vh;
    display: flex;
    flex-direction: column;
}

.h1{
    font-family: 'Poppins';
}

.mf-growTwo{
    text-align: left;
    font-family: 'Poppins';
}

.mf-textField {
    height: max-content;
}

.mf-growOne{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mf-topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: min-content;
    margin-right: 12vh;
    margin-left: 8vh;
    
}

.mf-cards{
    display: grid;
    grid-gap: 5vh;
    grid-template-columns: auto auto auto auto;
    margin-left: 8vh;
    margin-right: 8vh;
    margin-top: 4vh;
}

.mf-card {
    font-family: 'Poppins';
	background-color: var(--main-color);
	border-radius: 20px;
    box-shadow: 0 0 8px var(--shadow-color);
    width: 28vh;
    height:37vh;
}

.mf-addFile{
  margin-top: 7em;

}

.mf-summaries {
    padding-top: 20px;
    font-family: 'Poppins';
    height: 65%;
    padding-left: 3vh;
    padding-right: 3vh;
    font-size: 14px;
}

.mf-h1 {
    font-size: medium;
    font-family: 'Poppins';
}

.mf-smallCard {
    font-family: 'Poppins';
    padding-top: 17px;
    line-height: 40%;
    padding-left: 3vh;
    padding-right: 3vh;
}

.mf-hr {
    color: grey;
    width: fit-content;
}

.mf-button{
    font-family: 'Poppins';
    background: var(--primary-color);
    color: var(--main-color);
    border-radius: 10px;
    padding-right: 2vh;
    padding-left: 2vh;
    height: 100%;
}

.mf-bottomLine{
    text-align: center;
    align-self: center;
}

.mf-topmarg {
    margin-top: 8vh;
    font-family: 'Poppins';
}

.mf-alignright {
    padding-right: 50px;
    margin-right: 50px;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url(../../res/fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: local('Poppins'), url(../../res/fonts/Poppins/Poppins-Bold.ttf) format('truetype');
}